<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IGNITE HOME PAGE</title>
  <style>
    body {
      background: rgb(32, 1, 9);
      background: linear-gradient(90deg,
          rgba(32, 1, 9, 1) 4%,
          rgba(9, 4, 78, 1) 56%,
          rgba(37, 2, 19, 1) 100%,
          rgba(9, 9, 121, 1) 100%);
    }

    .bar {
      position: fixed;
      margin: -11px;
      z-index: 999;
      width: 100%;
      height: auto;
      background: rgb(32, 1, 9);
      background: linear-gradient(90deg,
          rgba(32, 1, 9, 1) 4%,
          rgba(9, 4, 78, 1) 56%,
          rgba(37, 2, 19, 1) 100%,
          rgba(9, 9, 121, 1) 100%);
    }

    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .lnav {
      margin-left: 0px;
      padding: 0px;
    }

    .rnav {
      margin: 0;
      padding: 0px;
    }

    .dp {
      position: absolute;
      top: 15px;
      right: 100px;
    }

    ul.navb {
      display: flex;
      flex-direction: row;
      color: white;
      font-size: small;
      font-family: Arial;
    }

    li {
      margin-right: 25px;
      transition: color ease-in 0.3s;
    }

    li:hover {
      cursor: pointer;
      border-bottom: 2px solid crimson;
      color: crimson;
    }

    .know:hover {
      background-color: unset;
      color: crimson;
      border: 2px solid crimson;
      height: 28px;
    }

    /* CAROUSAL */
    * {
      box-sizing: border-box
    }

    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
      display: none;
    }

    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {
        opacity: .4
      }

      to {
        opacity: 1
      }
    }

    @keyframes fade {
      from {
        opacity: .4
      }

      to {
        opacity: 1
      }
    }

    .games {
      color: rgb(213, 20, 70);
      color: linear-gradient(90deg, rgb(170, 136, 145) 15%, rgba(170, 16, 122, 1) 52%, rgba(207, 18, 145, 1) 76%, rgba(163, 13, 86, 1) 90%);
      text-align: center;
      font-family: cursive;
      font-size: xx-large;
      border-bottom: 3px solid crimson;
      width: 200px;
      margin-left: 570px;
      margin-top: 30px;
      font-weight: bolder;
    }

    .gcard {
      display: flex;
      padding: 10px;
      margin-top: 18px;
      width: 1000px;
      height: 313px;
      margin-left: 178px;
      /* grid-gap: 20px;
          grid-template-columns: auto auto auto ; */
      align-items: center;
      justify-content: space-evenly;
      /* overflow: hidden; */
    }

    .g1 {
      height: 290px;
      background-color: none;
      border: 2px solid crimson;
      border-radius: 10px;
      background-size: contain;
      /* box-shadow: 5px 5px 5px rgba(211, 13, 122, 0.842); */
      flex-basis: 30%;
    }

    .btn {
      background-color: teal;
      width: 116px;
      border-radius: 5px;
      text-align: center;
      padding: 5px;
      font-weight: 600;
      font-family: system-ui;
      margin-left: 76px;
    }

    .img {
      background-size: contain;
      width: 100%;
      font-family: Arial;
      font-size: large;
      font-weight: 500;
      text-align: center;
      color: white;
    }

    .about {
      color: #08b7fb;
      width: 900px;
      font-size: x-large;
      margin-left: 250px;
      font-family: Arial;
      margin-top: 12px;
      border: 2px solid brown;
      padding: 15px;
      border-radius: 13px;
      box-shadow: 10px 5px 5px rgba(211, 13, 122, 0.842);
    }

    a {
      color: white;
      font-size: small;
      font-family: Arial;
    }

    a:hover {
      cursor: pointer;
      border-bottom: 2px solid crimson;
      color: crimson;
    }

    .btn:hover {
      cursor: pointer;
      background-color: transparent;
      border: 2px solid crimson;
      border-radius: 5px;
      color: crimson;
    }

    .g1:hover {
      box-shadow: 10px 10px 10px rgba(211, 13, 122, 0.842);
    }
  </style>
</head>

<body>

  <!-- NAVBAR -->

  <div class="bar">
    <div class="nav">
      <div class="lnav">
        <ul type="none" class="navb">
          <li><a href=#>HOME</a></li>
          <li><a href=#games>GAMES</a></li>
          <li><a href=#contact>CONTACT US</a></li>
        </ul>
      </div>
      <div class="mnav">
        <img src="/src/ignite Logo-modified.png" alt="Igniting the flame" style="width: 70px" />
      </div>
      <div class="rnav">
        <ul type="none" class="navb">
          <li style="margin-left: 15px"><a href="/tournaments">TOURNAMENTS</a></li>
          <li><a href=#about>ABOUT US</a></li>
        </ul>
      </div>
    </div>
    <div class="dp">
      <a href="/auth/profile"><img src="/src/user.png" alt="wait" width="50px" /></a>
    </div>

  </div>
  <div
    style="height: 3px; background: rgb(9,50,116);
background: linear-gradient(90deg, rgba(9,50,116,1) 0%, rgba(255,0,86,1) 52%, rgba(9,9,121,1) 90%, rgba(6,5,79,1) 99%);margin-top: 12px;margin-bottom: 12px;">
  </div>

  <!-- Slideshow container -->
  <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 6</div>
      <img src="/src/bgmi.jpg" style="width:100%">
      <div class="text">BATTLE GROUNDS MOBILE INDIA</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">2 / 6</div>
      <img src="/src/codwarzone.jpg" style="width:100%">
      <div class="text">CALL OF DUTY - WARZONE</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">3 / 6</div>
      <img src="/src/coc.jpg" style="width:100%;height: 580px;">
      <div class="text">CLASH OF CLANS</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">4 / 6</div>
      <img src="/src/codm.jpg" style="width:100%">
      <div class="text">CALL OF DUTY - MOBILE</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">5 / 6</div>
      <img src="/src/valorant.jpg" style="width:100%">
      <div class="text">VALORANT</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">6 / 6</div>
      <img src="/src/csgo.png" style="width:100%">
      <div class="text">COUNTER STRIKE</div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>

  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
  </div>

  <section id="games">
    <div class="games">
      GAMES
    </div>
  </section>

  <!-- GRID OF GAMES -->

  <div class="gcard">
    <div class="g1">
      <div class="img" style="background-image: url(/src/bgmi2.jpg);height: 165px;"></div>
      <div style="margin: 8px 0px;color: white;padding: 5px;">
        <b style="font-size: medium;"> BATTLEGROUND MOBILE INDIA </b>
        <p>Gear up your squad and clear up the lobby!</p>
        <div class="btn" onClick="location.href='/auth/bgmi'">KNOW MORE</div>
      </div>
    </div>

    <div class="g1">
      <div class="img" style="background-image: url(/src/cod2.jpg);background-size: contain;width: 100%;height: 166px;">
      </div>
      <div style="margin: 8px 0px;color: white;padding: 5px;">
        <b style="font-size: medium;"> CALL OF DUTY - MOBILE </b>
        <p>In the war there is no prize for runner-up</p>
        <div class="btn" onClick="location.href='/auth/codm'">KNOW MORE</div>
      </div>
    </div>

    <div class="g1">
      <div class="img" style="background-image: url(/src/coc2.jpg);background-size: contain;width: 100%;height: 167px;">
      </div>
      <div style="margin: 8px 0px;color: white;padding: 5px;">
        <b style="font-size: medium;"> CLASH OF CLANS </b>
        <p>One clan one goal - We battle together</p>
        <div class="btn" onClick="location.href='/auth/coc'">KNOW MORE</div>
      </div>
    </div>
  </div>

  <div class="gcard">
    <div class="g1">
      <div class="img"
        style="background-image: url(/src/codwarzone2.webp);background-size: contain;width: 100%;height: 167px;"></div>
      <div style="margin: 8px 0px;color: white;padding: 5px;">
        <b style="font-size: medium;"> CALL OF DUTY - WARZONE </b>
        <p>Soldier are essential to finish the war !!</p>
        <div class="btn" onClick="location.href='/auth/warzone'">KNOW MORE</div>
      </div>
    </div>

    <div class="g1">
      <div class="img"
        style="background-image: url(/src/csgo2.png);background-size: contain;width: 100%;height: 151px;"></div>
      <div style="margin: 8px 0px;color: white;padding: 5px;">
        <b style="font-size: medium;"> COUNTER STRIKE </b>
        <p>Cover me | Take the point | Storm | Regroup </p>
        <div class="btn" onClick="location.href='/auth/csgo'">KNOW MORE</div>
      </div>
    </div>

    <div class="g1">
      <div class="img"
        style="background-image: url(/src/valorant2.jpg);background-size: contain;width: 100%;height: 151px;"></div>
      <div style="margin: 8px 0px;color: white;padding: 5px;">
        <b style="font-size: medium;"> VALORANT</b>
        <p>Defy the limits and show your valor.Bring out the valorant in you </p>
        <div class="btn" onClick="location.href='/auth/valorant'">KNOW MORE</div>
      </div>
    </div>
  </div>
  <!-- ABOUT SECTION -->

  <section id="about">
    <div
      style="color: rgb(213,20,70);
  color: linear-gradient(90deg, rgb(170, 136, 145) 15%, rgba(170,16,122,1) 52%, rgba(207,18,145,1) 76%, rgba(163,13,86,1) 90%);text-align: center;font-family: cursive;font-size: xx-large;border-bottom: 3px solid crimson; width: 250px;margin-left: 570px; margin-top: 30px;font-weight: bolder;">
      WHO WE ARE?</div>

    <div class="about">
      Ignite is created by a team of gamers who strongly feel that Indian players need a stage to jump start their
      gaming careers. Participating on Ignite will not only give amateur and professional gamers the ability to
      partcipate in long-awaited challenges , top tier gamers will also receive an opportunity to compete with other
      professionals on a national level! If you want to level up your life and make a career playing your favourite
      games, Ignite is here for you. Keep an eye out for tournaments updated daily.AND IGNITE UP THE GAMER INSIDE YOU!!!
    </div>
  </section>
  <div
    style="height: 3px; background: rgb(9,50,116);
background: linear-gradient(90deg, rgba(9,50,116,1) 0%, rgba(255,0,86,1) 52%, rgba(9,9,121,1) 90%, rgba(6,5,79,1) 99%);margin-top: 22px;margin-bottom: 12px;">
  </div>
  <section id="contact">
    <div class="f" style="text-align:center;color:blanchedalmond;font-weight:600;margin:10px;padding:4px;height:25px">
      | &copy; 2021 IGNITE GAMING CORPORATION ALL RIGHTS RESERVED |
    </div>
    <div style="display: flex; flex-direction: row;">
      <div class="name" style="margin: 10px;">
        <h2 style="color: crimson;">CREATORS</h2><br>
        <h3 style="color: white;">VANSHUL AHUJA</h3>
        <h3 style="color: white;">SIDDHARTH GUPTA</h3>
        <h3 style="color: white;">SHUBHRANT SINGH YADAV</h3>
      </div>
      <div class="email" style="margin: 10px; margin-left: 300px;">
        <h2 style="color: crimson;">E-MAILS</h2><br>
        <h3 style="color: white;">20bcs240@iiitdmj.ac.in</h3>
        <h3 style="color: white;">20bcs215@iiitdmj.ac.in</h3>
        <h3 style="color: white;">20bcs212@iiitdmj.ac.in</h3>
      </div>
      <div class="instagram" style="margin: 10px; margin-left: 322px;">
        <h2 style="color: crimson;">INSTAGRAM</h2><br>
        <h3 style="color: white;">@vanshulahuja_02</h3>
        <h3 style="color: white;">@siddharth_gupta_2710</h3>
        <h3 style="color: white;">@shubhrant_1803</h3>
      </div>
    </div>
  </section>


  <!-- SCRIPT FOR CAROUSAL -->

  <script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) { slideIndex = 1 }
      slides[slideIndex - 1].style.display = "block";
      setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
  </script>

</body>

</html>