<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>
    <style>
        body {
            background-color: rgba(17, 24, 39, 1);
            color: #fff;
        }

        .login {
            position: absolute;
            background-color: white;
            background-image: url(../src/login-cover-photo.png);
            background-size: cover;
            background-attachment: fixed;
            padding: 12px 10px;
            width: 70%;
            top: 6%;
            left: 15%;
        }

        form {
            padding: 10px 70px;
        }

        label {
            font-size: 20px;
        }

        input {
            border-radius: 9px;
            width: 400px;
            height: 25px;
            border: none;
            outline: none;
        }

        .submitbtn {
            width: 200px;
            height: 50px;
            cursor: pointer;
            font-size: 18px;
            font-weight: 700;
            background-color: crimson;
            color: white;
            border: 4px solid crimson;
        }

        input[type="submit"]:hover {
            color: white;
            background: none;
        }

        span {
            color: red;
        }

        a {
            color: crimson;
            font-size: 20px;
            text-decoration: none;
        }

        a:hover {
            color: white;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="login">
        <fieldset style="border: 3px solid crimson;">
            <legend style="
                        text-align: center;
                        font-weight: 700;
                        font-size:xx-large;
                        color: crimson;
                    ">
                Enter to the Arena
            </legend>
            <form action="/auth/register" method="post">
                <label for="username">UserName: <span>*</span> </label><br />
                <input style="padding: 5px" type="text" name="username" id="username" placeholder="Enter your username"
                    required /><br /><br /><br />
                <label for="name">Name: <span>*</span></label><br />
                <input style="padding: 5px" type="text" name="name" id="name" placeholder="Enter your name"
                    required /><br /><br /><br />
                <label for="email">Email ID: <span>*</span></label><br />
                <input style="padding: 5px" type="text" name="email" id="email" placeholder="Enter your email id"
                    required /><br /><br /><br />
                <label for="dateOfBirth">Date of Birth: <span>*</span></label><br />
                <input style="padding: 5px" type="date" name="dob" id="dob" required /><br /><br /><br />
                <label for="password">Password: <span>*</span></label><br />
                <input style="padding: 5px" type="password" name="password" id="password"
                    placeholder="Enter your password" required /><br /><br /><br />

                <a href="../login">Already a member?</a><br /><br /><br />
                <div style="text-align: center">
                    <input class="submitbtn" type="submit" value="Enter" />
                </div>
            </form>
        </fieldset>
    </div>
</body>

</html>