<!DOCTYPE html>

<head>
  <title>CALL OF DUTY WARZONE GAME PAGE</title>
  <style>
    * {
      font-family: Arial;
      margin: 0;
      padding: 0;
    }

    body {
      background: rgb(32, 1, 9);

      background: linear-gradient(90deg,
          rgba(32, 1, 9, 1) 4%,
          rgba(9, 4, 78, 1) 56%,
          rgba(37, 2, 19, 1) 100%,
          rgba(9, 9, 121, 1) 100%);
    }

    .bar {
      position: fixed;
      margin: 0;
      z-index: 100;
      width: 100%;
      height: auto;
      background: rgb(32, 1, 9);
      background: linear-gradient(90deg,
          rgba(32, 1, 9, 1) 4%,
          rgba(9, 4, 78, 1) 56%,
          rgba(37, 2, 19, 1) 100%,
          rgba(9, 9, 121, 1) 100%);
    }

    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .lnav {
      margin-left: 0px;
      padding: 0px;
    }

    .rnav {
      margin: 0;
      padding: 0px;
    }

    .dp {
      position: absolute;
      top: 15px;
      right: 100px;
    }

    ul.navb {
      display: flex;
      flex-direction: row;
      color: white;
      font-size: small;
      font-family: Arial;
    }

    li {
      margin-right: 25px;
      transition: color ease-in 0.3s;
    }

    li:hover {
      cursor: pointer;
      border-bottom: 2px solid crimson;
      color: crimson;
    }

    li a {
      color: white;
      text-decoration: none;
    }

    li a:hover {
      color: crimson;
    }

    .recordrow {
      display: flex;
    }

    .recordrow {
      background: linear-gradient(to bottom, #ff6464 0%, #ff3a3a 100%);
      padding: 3% 0;
      margin: 0;
      width: 80%;
      position: absolute;
      top: 110%;
      left: 10%;
      height: 30px;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .record {
      color: white;
      font-size: 25px;
      letter-spacing: 3px;
      transition: color ease-in 0.3s;
    }

    .record:hover {
      cursor: default;
      color: crimson;
    }

    p {
      font-size: 18px;
      font-family: "D-DIN Condensed";
      font-weight: normal;
      color: white;
      line-height: 140%;
      padding: 0 15%;
      letter-spacing: 0.8px;
    }
  </style>
</head>

<body>
  <div class="bar">
    <div class="nav">
      <div class="lnav">
        <ul type="none" class="navb">
          <li><a href="/home/#">HOME</a></li>
          <li><a href="/home/#games">GAMES</a></li>
          <li><a href="/home/#contact">CONTACT US</a></li>
        </ul>
      </div>
      <div class="mnav">
        <img src="/src/ignite Logo-modified.png" alt="Igniting the flame" style="width: 70px" />
      </div>
      <div class="rnav">
        <ul type="none" class="navb">
          <li style="margin-left: 15px">
            <a href="/tournaments">TOURNAMENTS</a>
          </li>
          <li><a href="/home/#about">ABOUT US</a></li>
        </ul>
      </div>
    </div>
    <div class="dp">
      <a href="/auth/profile"><img src="/src/user.png" alt="wait" width="50px" /></a>
    </div>
  </div>
  <div class="wrapper"
    style="background-image: url('/src/warzone.jpg');margin: 0; padding: 0; height : 900px; width : 100%;background-size: cover; background-attachment: fixed;">
    <div class="title"
      style="color:rgb(253, 0, 51);font-size:20px;font-weight: 800;letter-spacing: 1.6px;position:relative;top:50%;text-align: center;">
      <h1 style="text-shadow: whitesmoke 2px 2px 5px;">CALL OF DUTY WARZONE</h1>
    </div>
  </div>
  <div class="recordrow">
    <div class="record">
      <%= tourn %> TOURNAMENTS
    </div>
    <div class="record">
      <%= play %> PLAYERS
    </div>
  </div>
  <div class="about" style="margin: 10% 0% 0% 20%;z-index: 100;">
    <div class="abt" style="text-align: center;width:80%;">
      <h1 style="font-family: 'Arial Narrow';color:crimson;">- ABOUT -</h1>
      <br />
      <br />
      <p style="font-family: 'Arial Narrow';font-size: 18px;color:white">
        Call of Duty: Warzone is a free-to-play battle royale video game released on March 10, 2020, for PlayStation 4,
        Xbox One, Microsoft Windows, PlayStation 5 and Xbox Series X/S. The game is a part of 2019's Call of Duty:
        Modern Warfare and is connected to 2020's Call of Duty: Black Ops: Cold War and 2021's Call of Duty: Vanguard
        (but does not require purchase of either titles) and was introduced during Season 2 of Modern Warfare content.
        Warzone is developed by Infinity Ward and Raven Software (the latter later credited as the sole developer
        following the integration of Cold War's content) and published by Activision. Warzone allows online multiplayer
        combat among 150 players, although some limited-time game modes support 200 players. Other modes include
        Plunder, Rebirth Resurgence, Buy Back Solos and others. The game features both cross-platform play and
        cross-platform progression between three games.
      </p>
    </div>
  </div>
  <div
    style="height: 3px; background: rgb(9,50,116);
    background: linear-gradient(90deg, rgba(9,50,116,1) 0%, rgba(255,0,86,1) 52%, rgba(9,9,121,1) 90%, rgba(6,5,79,1) 99%);margin-top: 22px;margin-bottom: 12px;">
  </div>
  <section id="contact">
    <div class="f" style="text-align:center;color:blanchedalmond;font-weight:600;margin:10px;padding:4px;height:25px">
      | &copy; 2021 IGNITE GAMING CORPORATION ALL RIGHTS RESERVED |
    </div>
    <div style="display: flex; flex-direction: row;">
      <div class="name" style="margin: 10px;">
        <h2 style="color: crimson;">CREATORS</h2><br>
        <h3 style="color: white;">VANSHUL AHUJA</h3>
        <h3 style="color: white;">SIDDHARTH GUPTA</h3>
        <h3 style="color: white;">SHUBHRANT SINGH YADAV</h3>
      </div>
      <div class="email" style="margin: 10px; margin-left: 300px;">
        <h2 style="color: crimson;">E-MAILS</h2><br>
        <h3 style="color: white;">20bcs240@iiitdmj.ac.in</h3>
        <h3 style="color: white;">20bcs215@iiitdmj.ac.in</h3>
        <h3 style="color: white;">20bcs212@iiitdmj.ac.in</h3>
      </div>
      <div class="instagram" style="margin: 10px; margin-left: 322px;">
        <h2 style="color: crimson;">INSTAGRAM</h2><br>
        <h3 style="color: white;">@vanshulahuja_02</h3>
        <h3 style="color: white;">@siddharth_gupta_2710</h3>
        <h3 style="color: white;">@shubhrant_1803</h3>
      </div>
    </div>
  </section>
</body>

</html>